$a-tags: "a:link, a:visited";
$a-tags-hover: "a:hover, a:active";

.dropbtn {
  background-color: transparent;
  color: #f4f4f4;
  text-transform: uppercase;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  #{$a-tags} {
    color: #f4f4f4;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
  }
  #{$a-tags-hover} {
    text-decoration: underline;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2e4372;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color: #f4f4f4;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

.dropdown-content a:hover {
  background-color: #4e648e;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #152b55;
}
