$a-tags: "a:link, a:visited";
$a-tags-hover: "a:hover, a:active";

header {
  background: linear-gradient(#133253, #2b4c6f);
  padding-left: 10px;
  padding-right: 10px;
  .page-logo {
    &-company {
      max-width: 100%;
      height: 60px;
      margin-top: 10px;
    }
  }
  .header-content {
    display: flex;
    justify-content: flex-end;
    &-navbar {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      flex-flow: row wrap;
      list-style: none;
      cursor: pointer;
      li {
        background-color: transparent;
        color: #f4f4f4;
        text-transform: uppercase;
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        border: none;
      }
      #{$a-tags} {
        color: #f4f4f4;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
      }
      #{$a-tags-hover} {
        text-decoration: underline;
      }
    }
  }
}

.header-content {
  position: relative;
}
#toggle,
.toggle {
  display: none;
}
// .header-content-navbar > li {
//   list-style: none;
//   float: right;
// }

/* Nicolas Gallagher micro clearfix */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

@media only screen and (max-width: 936px) {
  .header-content-navbar {
    background: linear-gradient(#2b4c6f, #133253);
    margin-top: -15px;
    margin-right: -1px;
    display: flex;
    opacity: 0;
    padding-left: 10px;
    max-width: 220px;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .header-content-navbar > li {
    display: block;
    width: 100%;
    margin: 0;
  }
  .header-content-navbar > li > a {
    display: block;
    width: 100%;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .toggle {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
  #toggle:checked + div .header-content-navbar {
    display: block;
    opacity: 1;
  }
}

.toggle {
  z-index: 10;
}

@media only screen and (max-width: 936px) {
  .header-content-navbar {
    z-index: 10;
  }

  .header-content-navbar > li > a:hover,
  .header-content-navbar > li > a:focus {
    background: #133253;
  }

  .toggle:after {
    content: "\2261";
    display: block;
    width: 50px;
    margin: 15px 0;
    padding: 10px 50px 10px 40px;
    background: #3b8db1;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .toggle:hover:after {
    background: #45abd6;
  }

  #toggle:checked + div .toggle:after {
    content: "\2261";
  }
}
