$a-tags: "a:link, a:visited";
$a-tags-hover: "a:hover, a:active";

header {
  background: linear-gradient(#133253, #2b4c6f);
  .page-logo {
    &-company {
      max-width: 100%;
      height: 60px;
    }
  }
  .header-content {
    display: flex;
    justify-content: center;
    height: 4em;
    &-navbar {
      width: 80%;
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      padding-left: 0;
      margin: auto 0;
      list-style: none;
    }
  }
}

@media screen and (max-width: 992px) {
  header {
    .header-content-navbar {
      display: none;
    }
  }
}
