.tact-spot {
  background-color: #f4f4f4;
  padding-top: 5em;
  padding-bottom: 5em;
  &-tips {
    overflow: hidden;
    height: 300px;
    position: relative;
    max-width: 100%;
    margin-bottom: 1em;
    &-content {
      position: absolute;
      width: 100%;
      max-width: 100%;
      bottom: 0;
      background: linear-gradient(#ab9139, #ffecab);
      opacity: 0.9;
      &-header {
        padding-left: 16px;
        font-size: 26px;
        font-weight: 500;
        margin: 0 auto;
        margin-top: 10px;
      }
      &-paragraph {
        font-size: 16px;
        font-weight: 400;
        padding-left: 16px;
        margin: 10px auto;
      }
    }
  }
}

.img-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  transition: all 2.5s ease;

  &:hover {
    transform: scale(1.2);
    transition: transform 2s ease;
  }
}
